# Node modules
node_modules/


# Terraform working directories
terraform/**/.terraform/

# Terraform state, backup, and sensitive files
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars

# Terraform lock files in any subdirectory
terraform/**/*.lock.hcl

# Kuma binaries (specifically in kuma-monitoring)
terraform/kuma-monitoring/kuma-*/

# Vault sensitive files
vault/secrets/
vault/*.json
vault/*.token

# Environment and configuration files
*.env
.env.*

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.idea/
.vscode/
*.suo
*.user

# Git runner files
/actions-runner/
/root/Projects/MultiStageDevOps/actions-runner/